.high {
    background-color: red;
    color: white;
}

.medium {
    background-color: orange;
    color: #A52A2A;
}

.low {
    background-color: gray;
    color: black;
}

.done {
    background-color: black;
    color: #00FFFF;
    text-decoration: line-through;
}

