body {
  background-color: purple;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

section {
  background-color: teal;
}

#inputbar {
  text-align: center;
  width: 400px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

#div {
  width: 500px;
  height: 400px;
  position: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#list {
  list-style: none;
}

.High {
  color: red;
}
.Medium {
  color: yellow;
}
.Low {
  color: green;
}
